<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">Conference Publications</h1>
          {{ content }}
          {% for item in page.publications %}
          <div class="work-item">
            <span class="work-text">
              <strong>{{ item.title }}</strong></br>
              {{ item.authors }}</br>
              <i>{{ item.conference }}</i></br>
              {% if item.paperlink != "NA" %}
                  <a href={{ item.paperlink }} target="_blank" class="work-button">PDF</a>
              {% endif %}
            </span>
          </div>
          {% endfor %}
        </div>
        <hr>
        </br>
        <div class="work">
          <h1 class="page-heading">Expository Papers</h1>
          {% for item in page.expository-papers %}
          <div class="work-item">
              <strong>{{ item.title }}</strong></br>
              {{ item.authors }}</br>
              {% if item.paperlink != "NA" %}
                  <a href={{ item.paperlink }} target="_blank" class="work-button">PDF</a>
              {% endif %}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
